TELEGRAM_BOT_TOKEN=your_telegram_bot_token
DROP_PENDING_UPDATES=true

POSTGRES_DB=greetings_bot
POSTGRES_USER=greetings_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
SQL_ECHO=false
